.box {
  max-width: 700px;
  width: 700px;
  height: 400px; /* Set your desired height */
  position: absolute;
  top: 300px;
  left: 850px;
  overflow: hidden; /* Hide overflow */
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* or 'cover' if you want to fill the box */
  display: block;
}
