.title{
  position: fixed;
  top: 10px; 
  left: 50%;
  transform: translateX(-50%);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  z-index: 1200;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 50%
}

.title-alt {
  position: fixed;
  top: 10px; 
  left: 15%;
  transform: translateX(-50%);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  z-index: 1200;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 50%
}

.title:hover {
  transform: translateX(-50%) scale(1.03);
}