.Copyright-title {
    display: flex;  
    width: 100%;
    font-size: medium;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: white;
    z-index: 1000;
    /* Removed left, right, bottom, and position: static */
}